<% include ../partials/header %>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 mb-md-2">
            <% if(user.firstName && user.lastName) { %>
                <h1><%= user.firstName + " " + user.lastName %></h1>
                <a href="mailto:<%= user.email %>"><%= user.email %></a>
            <% }else { %>
                <h1><%= user.username %></h1>
            <% } %>
        </div>
        <div class="col-md-4">
            <% if(user.avatar){ %>
                <img class="border-0 img-thumbnail" src="<%= user.avatar %>" alt="user profie image">
            <% }else{ %>
                <img class="border-0 img-thumbnail" src="https://images.unsplash.com/photo-1552343204-09c57040d686?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="default">
            <% } %>   
        </div>
        <div class="col-md-8 mt-sm-3 mt-md-0">
            <strong>Description</strong>
            <p>Bacon ipsum dolor amet andouille chuck jerky flank t-bone cow fatback kevin drumstick sausage tenderloin.
            Sausage bacon strip steak alcatra kevin andouille corned beef. Landjaeger ham turkey drumstick. Kielbasa
            strip steak doner venison tenderloin chuck ham hock salami drumstick chicken beef.

            Biltong hamburger filet mignon tail pork chop ham hock kevin jerky salami, meatloaf porchetta. Doner venison
            chicken kielbasa rump. Flank ham hock pork belly drumstick, ground round fatback filet mignon shoulder jerky
            spare ribs pork chop andouille capicola pancetta meatball. Biltong filet mignon burgdoggen capicola
            tenderloin drumstick frankfurter. Shankle jerky strip steak pastrami. Ham hock bacon ribeye landjaeger pork.</p>
            <strong>Campground</strong>
            <ul class="list-unstyled">
                <% campgrounds.forEach(function(campground){ %>
                    <li><a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></li>
                <% });  %>
            </ul>
        </div>
    </div>
</div>
<% include ../partials/footer %>